<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title class="header-title">
      <div class="header-content">
        <ion-icon name="checkmark-circle" class="header-logo"></ion-icon>
        <span class="app-name">MyTasks</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="custom-header">
      <ion-title size="large" class="header-title">
        <div class="header-content">
          <ion-icon name="checkmark-circle" class="header-logo"></ion-icon>
          <span class="app-name">MyTasks</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem-vindo ao MyTasks!</strong>
    <p>Gerencie suas tarefas diárias de forma simples e eficiente.</p>
  </div>
</ion-content>
